/**
* Generate Flex Grid
*/
@mixin generateFlexGridChildren(){
	$num: 1;
	@while 12 >= $num {
	    .flex-grid-width-#{$num} {
	        width: calc((100% / #{$num}) - (20px / (12 / #{$num})));
	        margin-bottom: 20px;
	    }
	    $num: $num + 1;
	}
}
/**
* Generate the columns for IE compatability
*/
@mixin generateGridColumns() {
	$num: 1;
	@while 12 >= $num {
	    .grid-start-#{$num} {
	        grid-column: #{$num};
	        -ms-grid-column: #{$num};
	        grid-row: 1;
	        -ms-grid-row: 1;
	    }

	    $num: $num + 1;
	}
}
/**
* Generate the column widths for IE compatability
*/
@mixin generateGridSpan() {
	$num: 1;
	@while 12 >= $num {
	    .grid-span-#{$num} {
	        -ms-grid-column-span: #{$num};
	         grid-column-end: span #{$num};
	    }

	    $num: $num + 1;
	}
}

/**
* Specify where in grid something should sit
*/
@mixin gridPosition($row, $column){
	grid-column: #{$column};
	-ms-grid-column: #{$column};
	grid-row: #{$row};
	-ms-grid-row: #{$row};
}

/**
* Specify how many grid points it should take up
*/
@mixin gridSpan($row, $column){
	-ms-grid-column-span: #{$column};
	grid-column-end: span #{$column};
	-ms-grid-row-span: #{$row};
	grid-row-end: span #{$row};
}

/**
* Generate number of grid rows and columns
*/
@mixin gridColumns($num){
	$fr: '';
	@for $i from 1 through $num {
        $fr: $fr + ' 1fr';
    }
	grid-template-columns: #{$fr};
	-ms-grid-columns: #{$fr};
}

@mixin gridRows($num){
	$fr: '';
	@for $i from 1 through $num {
        $fr: $fr + ' auto';
    }
	grid-template-rows: #{$fr};
	-ms-grid-rows: #{$fr};
}

/**
* Specify the required number of grid rows for IE compatability if it needs to stack
* Use case:
* @specifiyGridRows(1, 4); When you have 4 children, and want them to stack all in 1 column
* @specifiyGridRows(4, 4); When you have 4 children, and want them all on the same row
*/
@mixin specifiyGridRows($columns, $children){
	$current-row: 1;

	@if($columns == 1){
		grid-template-columns: 1fr;
		-ms-grid-columns: 1fr;
		
		$fr: '';
		@for $i from 1 through $children {
	        $fr: $fr + ' auto';

	        $current-row: $current-row + 1;
	    }

		grid-template-rows: unquote($fr);
		-ms-grid-rows: unquote($fr);
		> * {
			&:nth-of-type(1){
				grid-column: 1;
				grid-row: 1;
				-ms-grid-column: 1;
				-ms-grid-row: 1;
			}
			&:nth-of-type(2){
				grid-column: 1;
				grid-row: 2;
				-ms-grid-column: 1;
				-ms-grid-row: 2;
			}
			&:nth-of-type(3){
				grid-column: 1;
				grid-row: 3;
				-ms-grid-column: 1;
				-ms-grid-row: 3;
			}
			&:nth-of-type(4){
				grid-column: 1;
				grid-row: 4;
				-ms-grid-column: 1;
				-ms-grid-row: 4;
			}
			&:nth-of-type(5){
				grid-column: 1;
				grid-row: 5;
				-ms-grid-column: 1;
				-ms-grid-row: 5;
			}
			&:nth-of-type(6){
				grid-column: 1;
				grid-row: 6;
				-ms-grid-column: 1;
				-ms-grid-row: 6;
			}
			&:nth-of-type(7){
				grid-column: 1;
				grid-row: 7;
				-ms-grid-column: 1;
				-ms-grid-row: 7;
			}
			&:nth-of-type(8){
				grid-column: 1;
				grid-row: 8;
				-ms-grid-column: 1;
				-ms-grid-row: 8;
			}
			&:nth-of-type(9){
				grid-column: 1;
				grid-row: 9;
				-ms-grid-column: 1;
				-ms-grid-row: 9;
			}
			&:nth-of-type(10){
				grid-column: 1;
				grid-row: 10;
				-ms-grid-column: 1;
				-ms-grid-row: 10;
			}
			&:nth-of-type(11){
				grid-column: 1;
				grid-row: 11;
				-ms-grid-column: 1;
				-ms-grid-row: 11;
			}
			&:nth-of-type(12){
				grid-column: 1;
				grid-row: 12;
				-ms-grid-column: 1;
				-ms-grid-row: 12;
			}
		}
	}
	@if($columns == 2){
		grid-template-columns: 1fr 1fr;
		-ms-grid-columns: 1fr 1fr;
		$fr: '';
		@for $i from 1 through $children {
	        $fr: $fr + ' auto';

	        $current-row: $current-row + 2;
	    }

		grid-template-rows: unquote($fr);
		-ms-grid-rows: unquote($fr);
		> * {
			&:nth-of-type(1){
				grid-column: 1;
				grid-row: 1;
				-ms-grid-column: 1;
				-ms-grid-row: 1;
			}
			&:nth-of-type(2){
				grid-column: 2;
				grid-row: 1;
				-ms-grid-column: 2;
				-ms-grid-row: 1;
			}
			&:nth-of-type(3){
				grid-column: 1;
				grid-row: 2;
				-ms-grid-column: 1;
				-ms-grid-row: 2;
			}
			&:nth-of-type(4){
				grid-column: 2;
				grid-row: 2;
				-ms-grid-column: 2;
				-ms-grid-row: 2;
			}
			&:nth-of-type(5){
				grid-column: 1;
				grid-row: 3;
				-ms-grid-column: 1;
				-ms-grid-row: 3;
			}
			&:nth-of-type(6){
				grid-column: 2;
				grid-row: 3;
				-ms-grid-column: 2;
				-ms-grid-row: 3;
			}
			&:nth-of-type(7){
				grid-column: 1;
				grid-row: 4;
				-ms-grid-column: 1;
				-ms-grid-row: 4;
			}
			&:nth-of-type(8){
				grid-column: 2;
				grid-row: 4;
				-ms-grid-column: 2;
				-ms-grid-row: 4;
			}
			&:nth-of-type(9){
				grid-column: 1;
				grid-row: 5;
				-ms-grid-column: 1;
				-ms-grid-row: 5;
			}
			&:nth-of-type(10){
				grid-column: 2;
				grid-row: 5;
				-ms-grid-column: 2;
				-ms-grid-row: 5;
			}
			&:nth-of-type(11){
				grid-column: 1;
				grid-row: 6;
				-ms-grid-column: 1;
				-ms-grid-row: 6;
			}
			&:nth-of-type(12){
				grid-column: 2;
				grid-row: 6;
				-ms-grid-column: 2;
				-ms-grid-row: 6;
			}
		}
	}
	@if($columns == 3){
		grid-template-columns: 1fr 1fr 1fr;
		-ms-grid-columns: 1fr 1fr 1fr;
		$fr: '';
		@for $i from 1 through $children {
	        $fr: $fr + ' auto';

	        $current-row: $current-row + 3;
	    }

		grid-template-rows: unquote($fr);
		-ms-grid-rows: unquote($fr);
		> * {
			&:nth-of-type(1){
				grid-column: 1;
				grid-row: 1;
				-ms-grid-column: 1;
				-ms-grid-row: 1;
			}
			&:nth-of-type(2){
				grid-column: 2;
				grid-row: 1;
				-ms-grid-column: 2;
				-ms-grid-row: 1;
			}
			&:nth-of-type(3){
				grid-column: 3;
				grid-row: 1;
				-ms-grid-column: 3;
				-ms-grid-row: 1;
			}
			&:nth-of-type(4){
				grid-column: 1;
				grid-row: 2;
				-ms-grid-column: 1;
				-ms-grid-row: 2;
			}
			&:nth-of-type(5){
				grid-column: 2;
				grid-row: 2;
				-ms-grid-column: 2;
				-ms-grid-row: 2;
			}
			&:nth-of-type(6){
				grid-column: 3;
				grid-row: 2;
				-ms-grid-column: 3;
				-ms-grid-row: 2;
			}
			&:nth-of-type(7){
				grid-column: 1;
				grid-row: 3;
				-ms-grid-column: 1;
				-ms-grid-row: 3;
			}
			&:nth-of-type(8){
				grid-column: 2;
				grid-row: 3;
				-ms-grid-column: 2;
				-ms-grid-row: 3;
			}
			&:nth-of-type(9){
				grid-column: 3;
				grid-row: 3;
				-ms-grid-column: 3;
				-ms-grid-row: 3;
			}
			&:nth-of-type(10){
				grid-column: 1;
				grid-row: 4;
				-ms-grid-column: 1;
				-ms-grid-row: 4;
			}
			&:nth-of-type(11){
				grid-column: 2;
				grid-row: 4;
				-ms-grid-column: 2;
				-ms-grid-row: 4;
			}
			&:nth-of-type(12){
				grid-column: 3;
				grid-row: 4;
				-ms-grid-column: 3;
				-ms-grid-row: 4;
			}
		}
	}
	@if($columns == 4){
		grid-template-columns: 1fr 1fr 1fr 1fr;
		-ms-grid-columns: 1fr 1fr 1fr 1fr;
		$fr: '';
		@for $i from 1 through $children {
	        $fr: $fr + ' auto';

	        $current-row: $current-row + 4;
	    }

		grid-template-rows: unquote($fr);
		-ms-grid-rows: unquote($fr);
		> * {
			&:nth-of-type(1){
				grid-column: 1;
				grid-row: 1;
				-ms-grid-column: 1;
				-ms-grid-row: 1;
			}
			&:nth-of-type(2){
				grid-column: 2;
				grid-row: 1;
				-ms-grid-column: 2;
				-ms-grid-row: 1;
			}
			&:nth-of-type(3){
				grid-column: 3;
				grid-row: 1;
				-ms-grid-column: 3;
				-ms-grid-row: 1;
			}
			&:nth-of-type(4){
				grid-column: 4;
				grid-row: 1;
				-ms-grid-column: 4;
				-ms-grid-row: 1;
			}
			&:nth-of-type(5){
				grid-column: 1;
				grid-row: 2;
				-ms-grid-column: 1;
				-ms-grid-row: 2;
			}
			&:nth-of-type(6){
				grid-column: 2;
				grid-row: 2;
				-ms-grid-column: 2;
				-ms-grid-row: 2;
			}
			&:nth-of-type(7){
				grid-column: 3;
				grid-row: 2;
				-ms-grid-column: 3;
				-ms-grid-row: 2;
			}
			&:nth-of-type(8){
				grid-column: 4;
				grid-row: 2;
				-ms-grid-column: 4;
				-ms-grid-row: 2;
			}
			&:nth-of-type(9){
				grid-column: 1;
				grid-row: 3;
				-ms-grid-column: 1;
				-ms-grid-row: 3;
			}
			&:nth-of-type(10){
				grid-column: 2;
				grid-row: 3;
				-ms-grid-column: 2;
				-ms-grid-row: 3;
			}
			&:nth-of-type(11){
				grid-column: 3;
				grid-row: 3;
				-ms-grid-column: 3;
				-ms-grid-row: 3;
			}
			&:nth-of-type(12){
				grid-column: 4;
				grid-row: 3;
				-ms-grid-column: 4;
				-ms-grid-row: 3;
			}
		}
	}
	@if($columns == 5){
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
		$fr: '';
		@for $i from 1 through $children {
	        $fr: $fr + ' auto';

	        $current-row: $current-row + 5;
	    }

		grid-template-rows: unquote($fr);
		-ms-grid-rows: unquote($fr);
		> * {
			&:nth-of-type(1){
				grid-column: 1;
				grid-row: 1;
				-ms-grid-column: 1;
				-ms-grid-row: 1;
			}
			&:nth-of-type(2){
				grid-column: 2;
				grid-row: 1;
				-ms-grid-column: 2;
				-ms-grid-row: 1;
			}
			&:nth-of-type(3){
				grid-column: 3;
				grid-row: 1;
				-ms-grid-column: 3;
				-ms-grid-row: 1;
			}
			&:nth-of-type(4){
				grid-column: 4;
				grid-row: 1;
				-ms-grid-column: 4;
				-ms-grid-row: 1;
			}
			&:nth-of-type(5){
				grid-column: 5;
				grid-row: 1;
				-ms-grid-column: 5;
				-ms-grid-row: 1;
			}
			&:nth-of-type(6){
				grid-column: 1;
				grid-row: 2;
				-ms-grid-column: 1;
				-ms-grid-row: 2;
			}
			&:nth-of-type(7){
				grid-column: 2;
				grid-row: 2;
				-ms-grid-column: 2;
				-ms-grid-row: 2;
			}
			&:nth-of-type(8){
				grid-column: 3;
				grid-row: 2;
				-ms-grid-column: 3;
				-ms-grid-row: 2;
			}
			&:nth-of-type(9){
				grid-column: 4;
				grid-row: 2;
				-ms-grid-column: 4;
				-ms-grid-row: 2;
			}
			&:nth-of-type(10){
				grid-column: 5;
				grid-row: 2;
				-ms-grid-column: 5;
				-ms-grid-row: 2;
			}
			&:nth-of-type(11){
				grid-column: 1;
				grid-row: 3;
				-ms-grid-column: 1;
				-ms-grid-row: 3;
			}
			&:nth-of-type(12){
				grid-column: 2;
				grid-row: 3;
				-ms-grid-column: 2;
				-ms-grid-row: 3;
			}
		}
	}
	@if($columns == 6){
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		$fr: '';
		@for $i from 1 through $children {
	        $fr: $fr + ' auto';

	        $current-row: $current-row + 6;
	    }

		grid-template-rows: unquote($fr);
		-ms-grid-rows: unquote($fr);
		> * {
			&:nth-of-type(1){
				grid-column: 1;
				grid-row: 1;
				-ms-grid-column: 1;
				-ms-grid-row: 1;
			}
			&:nth-of-type(2){
				grid-column: 2;
				grid-row: 1;
				-ms-grid-column: 2;
				-ms-grid-row: 1;
			}
			&:nth-of-type(3){
				grid-column: 3;
				grid-row: 1;
				-ms-grid-column: 3;
				-ms-grid-row: 1;
			}
			&:nth-of-type(4){
				grid-column: 4;
				grid-row: 1;
				-ms-grid-column: 4;
				-ms-grid-row: 1;
			}
			&:nth-of-type(5){
				grid-column: 5;
				grid-row: 1;
				-ms-grid-column: 5;
				-ms-grid-row: 1;
			}
			&:nth-of-type(6){
				grid-column: 6;
				grid-row: 1;
				-ms-grid-column: 6;
				-ms-grid-row: 1;
			}
			&:nth-of-type(7){
				grid-column: 1;
				grid-row: 2;
				-ms-grid-column: 1;
				-ms-grid-row: 2;
			}
			&:nth-of-type(8){
				grid-column: 2;
				grid-row: 2;
				-ms-grid-column: 2;
				-ms-grid-row: 2;
			}
			&:nth-of-type(9){
				grid-column: 3;
				grid-row: 2;
				-ms-grid-column: 3;
				-ms-grid-row: 2;
			}
			&:nth-of-type(10){
				grid-column: 4;
				grid-row: 2;
				-ms-grid-column: 4;
				-ms-grid-row: 2;
			}
			&:nth-of-type(11){
				grid-column: 5;
				grid-row: 2;
				-ms-grid-column: 5;
				-ms-grid-row: 2;
			}
			&:nth-of-type(12){
				grid-column: 6;
				grid-row: 2;
				-ms-grid-column: 6;
				-ms-grid-row: 2;
			}
		}
	}
	@if($columns == 7){
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		$fr: '';
		@for $i from 1 through $children {
	        $fr: $fr + ' auto';

	        $current-row: $current-row + 7;
	    }

		grid-template-rows: unquote($fr);
		-ms-grid-rows: unquote($fr);
		> * {
			&:nth-of-type(1){
				grid-column: 1;
				grid-row: 1;
				-ms-grid-column: 1;
				-ms-grid-row: 1;
			}
			&:nth-of-type(2){
				grid-column: 2;
				grid-row: 1;
				-ms-grid-column: 2;
				-ms-grid-row: 1;
			}
			&:nth-of-type(3){
				grid-column: 3;
				grid-row: 1;
				-ms-grid-column: 3;
				-ms-grid-row: 1;
			}
			&:nth-of-type(4){
				grid-column: 4;
				grid-row: 1;
				-ms-grid-column: 4;
				-ms-grid-row: 1;
			}
			&:nth-of-type(5){
				grid-column: 5;
				grid-row: 1;
				-ms-grid-column: 5;
				-ms-grid-row: 1;
			}
			&:nth-of-type(6){
				grid-column: 6;
				grid-row: 1;
				-ms-grid-column: 6;
				-ms-grid-row: 1;
			}
			&:nth-of-type(7){
				grid-column: 7;
				grid-row: 1;
				-ms-grid-column: 7;
				-ms-grid-row: 1;
			}
			&:nth-of-type(8){
				grid-column: 1;
				grid-row: 2;
				-ms-grid-column: 1;
				-ms-grid-row: 2;
			}
			&:nth-of-type(9){
				grid-column: 2;
				grid-row: 2;
				-ms-grid-column: 2;
				-ms-grid-row: 2;
			}
			&:nth-of-type(10){
				grid-column: 3;
				grid-row: 2;
				-ms-grid-column: 3;
				-ms-grid-row: 2;
			}
			&:nth-of-type(11){
				grid-column: 4;
				grid-row: 2;
				-ms-grid-column: 4;
				-ms-grid-row: 2;
			}
			&:nth-of-type(12){
				grid-column: 5;
				grid-row: 2;
				-ms-grid-column: 5;
				-ms-grid-row: 2;
			}
		}
	}
	@if($columns == 8){
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		$fr: '';
		@for $i from 1 through $children {
	        $fr: $fr + ' auto';

	        $current-row: $current-row + 8;
	    }

		grid-template-rows: unquote($fr);
		-ms-grid-rows: unquote($fr);
		> * {
			&:nth-of-type(1){
				grid-column: 1;
				grid-row: 1;
				-ms-grid-column: 1;
				-ms-grid-row: 1;
			}
			&:nth-of-type(2){
				grid-column: 2;
				grid-row: 1;
				-ms-grid-column: 2;
				-ms-grid-row: 1;
			}
			&:nth-of-type(3){
				grid-column: 3;
				grid-row: 1;
				-ms-grid-column: 3;
				-ms-grid-row: 1;
			}
			&:nth-of-type(4){
				grid-column: 4;
				grid-row: 1;
				-ms-grid-column: 4;
				-ms-grid-row: 1;
			}
			&:nth-of-type(5){
				grid-column: 5;
				grid-row: 1;
				-ms-grid-column: 5;
				-ms-grid-row: 1;
			}
			&:nth-of-type(6){
				grid-column: 6;
				grid-row: 1;
				-ms-grid-column: 6;
				-ms-grid-row: 1;
			}
			&:nth-of-type(7){
				grid-column: 7;
				grid-row: 1;
				-ms-grid-column: 7;
				-ms-grid-row: 1;
			}
			&:nth-of-type(8){
				grid-column: 8;
				grid-row: 1;
				-ms-grid-column: 8;
				-ms-grid-row: 1;
			}
			&:nth-of-type(9){
				grid-column: 1;
				grid-row: 2;
				-ms-grid-column: 1;
				-ms-grid-row: 2;
			}
			&:nth-of-type(10){
				grid-column: 2;
				grid-row: 2;
				-ms-grid-column: 2;
				-ms-grid-row: 2;
			}
			&:nth-of-type(11){
				grid-column: 3;
				grid-row: 2;
				-ms-grid-column: 3;
				-ms-grid-row: 2;
			}
			&:nth-of-type(12){
				grid-column: 4;
				grid-row: 2;
				-ms-grid-column: 4;
				-ms-grid-row: 2;
			}
		}
	}
	@if($columns == 9){
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		$fr: '';
		@for $i from 1 through $children {
	        $fr: $fr + ' auto';

	        $current-row: $current-row + 9;
	    }

		grid-template-rows: unquote($fr);
		-ms-grid-rows: unquote($fr);
		> * {
			&:nth-of-type(1){
				grid-column: 1;
				grid-row: 1;
				-ms-grid-column: 1;
				-ms-grid-row: 1;
			}
			&:nth-of-type(2){
				grid-column: 2;
				grid-row: 1;
				-ms-grid-column: 2;
				-ms-grid-row: 1;
			}
			&:nth-of-type(3){
				grid-column: 3;
				grid-row: 1;
				-ms-grid-column: 3;
				-ms-grid-row: 1;
			}
			&:nth-of-type(4){
				grid-column: 4;
				grid-row: 1;
				-ms-grid-column: 4;
				-ms-grid-row: 1;
			}
			&:nth-of-type(5){
				grid-column: 5;
				grid-row: 1;
				-ms-grid-column: 5;
				-ms-grid-row: 1;
			}
			&:nth-of-type(6){
				grid-column: 6;
				grid-row: 1;
				-ms-grid-column: 6;
				-ms-grid-row: 1;
			}
			&:nth-of-type(7){
				grid-column: 7;
				grid-row: 1;
				-ms-grid-column: 7;
				-ms-grid-row: 1;
			}
			&:nth-of-type(8){
				grid-column: 8;
				grid-row: 1;
				-ms-grid-column: 8;
				-ms-grid-row: 1;
			}
			&:nth-of-type(9){
				grid-column: 9;
				grid-row: 1;
				-ms-grid-column: 9;
				-ms-grid-row: 1;
			}
			&:nth-of-type(10){
				grid-column: 1;
				grid-row: 2;
				-ms-grid-column: 1;
				-ms-grid-row: 2;
			}
			&:nth-of-type(11){
				grid-column: 2;
				grid-row: 2;
				-ms-grid-column: 2;
				-ms-grid-row: 2;
			}
			&:nth-of-type(12){
				grid-column: 3;
				grid-row: 2;
				-ms-grid-column: 3;
				-ms-grid-row: 2;
			}
		}
	}
	@if($columns == 10){
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		$fr: '';
		@for $i from 1 through $children {
	        $fr: $fr + ' auto';

	        $current-row: $current-row + 10;
	    }

		grid-template-rows: unquote($fr);
		-ms-grid-rows: unquote($fr);
		> * {
			&:nth-of-type(1){
				grid-column: 1;
				grid-row: 1;
				-ms-grid-column: 1;
				-ms-grid-row: 1;
			}
			&:nth-of-type(2){
				grid-column: 2;
				grid-row: 1;
				-ms-grid-column: 2;
				-ms-grid-row: 1;
			}
			&:nth-of-type(3){
				grid-column: 3;
				grid-row: 1;
				-ms-grid-column: 3;
				-ms-grid-row: 1;
			}
			&:nth-of-type(4){
				grid-column: 4;
				grid-row: 1;
				-ms-grid-column: 4;
				-ms-grid-row: 1;
			}
			&:nth-of-type(5){
				grid-column: 5;
				grid-row: 1;
				-ms-grid-column: 5;
				-ms-grid-row: 1;
			}
			&:nth-of-type(6){
				grid-column: 6;
				grid-row: 1;
				-ms-grid-column: 6;
				-ms-grid-row: 1;
			}
			&:nth-of-type(7){
				grid-column: 7;
				grid-row: 1;
				-ms-grid-column: 7;
				-ms-grid-row: 1;
			}
			&:nth-of-type(8){
				grid-column: 8;
				grid-row: 1;
				-ms-grid-column: 8;
				-ms-grid-row: 1;
			}
			&:nth-of-type(9){
				grid-column: 9;
				grid-row: 1;
				-ms-grid-column: 9;
				-ms-grid-row: 1;
			}
			&:nth-of-type(10){
				grid-column: 10;
				grid-row: 1;
				-ms-grid-column: 10;
				-ms-grid-row: 1;
			}
			&:nth-of-type(11){
				grid-column: 1;
				grid-row: 2;
				-ms-grid-column: 1;
				-ms-grid-row: 2;
			}
			&:nth-of-type(12){
				grid-column: 2;
				grid-row: 2;
				-ms-grid-column: 2;
				-ms-grid-row: 2;
			}
		}
	}
	@if($columns == 11){
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		$fr: '';
		@for $i from 1 through $children {
	        $fr: $fr + ' auto';

	        $current-row: $current-row + 11;
	    }

		grid-template-rows: unquote($fr);
		-ms-grid-rows: unquote($fr);
		> * {
			&:nth-of-type(1){
				grid-column: 1;
				grid-row: 1;
				-ms-grid-column: 1;
				-ms-grid-row: 1;
			}
			&:nth-of-type(2){
				grid-column: 2;
				grid-row: 1;
				-ms-grid-column: 2;
				-ms-grid-row: 1;
			}
			&:nth-of-type(3){
				grid-column: 3;
				grid-row: 1;
				-ms-grid-column: 3;
				-ms-grid-row: 1;
			}
			&:nth-of-type(4){
				grid-column: 4;
				grid-row: 1;
				-ms-grid-column: 4;
				-ms-grid-row: 1;
			}
			&:nth-of-type(5){
				grid-column: 5;
				grid-row: 1;
				-ms-grid-column: 5;
				-ms-grid-row: 1;
			}
			&:nth-of-type(6){
				grid-column: 6;
				grid-row: 1;
				-ms-grid-column: 6;
				-ms-grid-row: 1;
			}
			&:nth-of-type(7){
				grid-column: 7;
				grid-row: 1;
				-ms-grid-column: 7;
				-ms-grid-row: 1;
			}
			&:nth-of-type(8){
				grid-column: 8;
				grid-row: 1;
				-ms-grid-column: 8;
				-ms-grid-row: 1;
			}
			&:nth-of-type(9){
				grid-column: 9;
				grid-row: 1;
				-ms-grid-column: 9;
				-ms-grid-row: 1;
			}
			&:nth-of-type(10){
				grid-column: 10;
				grid-row: 1;
				-ms-grid-column: 10;
				-ms-grid-row: 1;
			}
			&:nth-of-type(11){
				grid-column: 11;
				grid-row: 1;
				-ms-grid-column: 11;
				-ms-grid-row: 1;
			}
			&:nth-of-type(12){
				grid-column: 1;
				grid-row: 2;
				-ms-grid-column: 1;
				-ms-grid-row: 2;
			}
		}
	}
	@if($columns == 12){
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		$fr: '';
		@for $i from 1 through $children {
	        $fr: $fr + ' auto';

	        $current-row: $current-row + 12;
	    }

		grid-template-rows: unquote($fr);
		-ms-grid-rows: unquote($fr);
		> * {
			&:nth-of-type(1){
				grid-column: 1;
				grid-row: 1;
				-ms-grid-column: 1;
				-ms-grid-row: 1;
			}
			&:nth-of-type(2){
				grid-column: 2;
				grid-row: 1;
				-ms-grid-column: 2;
				-ms-grid-row: 1;
			}
			&:nth-of-type(3){
				grid-column: 3;
				grid-row: 1;
				-ms-grid-column: 3;
				-ms-grid-row: 1;
			}
			&:nth-of-type(4){
				grid-column: 4;
				grid-row: 1;
				-ms-grid-column: 4;
				-ms-grid-row: 1;
			}
			&:nth-of-type(5){
				grid-column: 5;
				grid-row: 1;
				-ms-grid-column: 5;
				-ms-grid-row: 1;
			}
			&:nth-of-type(6){
				grid-column: 6;
				grid-row: 1;
				-ms-grid-column: 6;
				-ms-grid-row: 1;
			}
			&:nth-of-type(7){
				grid-column: 7;
				grid-row: 1;
				-ms-grid-column: 7;
				-ms-grid-row: 1;
			}
			&:nth-of-type(8){
				grid-column: 8;
				grid-row: 1;
				-ms-grid-column: 8;
				-ms-grid-row: 1;
			}
			&:nth-of-type(9){
				grid-column: 9;
				grid-row: 1;
				-ms-grid-column: 9;
				-ms-grid-row: 1;
			}
			&:nth-of-type(10){
				grid-column: 10;
				grid-row: 1;
				-ms-grid-column: 10;
				-ms-grid-row: 1;
			}
			&:nth-of-type(11){
				grid-column: 11;
				grid-row: 1;
				-ms-grid-column: 11;
				-ms-grid-row: 1;
			}
			&:nth-of-type(12){
				grid-column: 12;
				grid-row: 1;
				-ms-grid-column: 12;
				-ms-grid-row: 1;
			}
		}
	}
}