<!DOCTYPE html>
<html {{ function('language_attributes')}}>
	<head>
		<meta charset="<?php bloginfo( 'charset' ); ?>">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="profile" href="https://gmpg.org/xfn/11">
		{{ function('wp_head') }}
		<link rel="stylesheet" type="text/css" href="{{theme.path}}/css/master.min.css">
		<script src="{{theme.path}}/js/plugins-min.js"></script>
		<script src="{{theme.path}}/js/master-min.js" defer="defer"></script>
	</head>
	<body>
		<header>
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						//Logo
					</div>
					<div class="col-lg-9">
						//Menu
					</div>
				</div>
			</div>
		</header>
		{% block content %}

		{% endblock %}
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						//Footer content
					</div>
					<div class="col-lg-3">
						//Footer Menu
					</div>
					<div class="col-lg-3">
						//Contact Link
					</div>
				</div>
			</div>
		</footer>
		{{function('wp_footer')}}
	</body>
</html>