.grid{
	display: grid;
	display: -ms-grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  	-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  	-ms-grid-rows: 1fr; /* Because IE is a butt */
  	&.with-gap{
	  	grid-gap: 20px;
	}
	@include generateGridColumns();
	@include generateGridSpan();
}