/* Colours */
$white : #FFFFFF;
$black : #000000;

/* Transition */
$transition : 0.2s ease-in-out;

/* Screen Widths */
$small-mobile : 320px;
$mobile : 414px;
$tablet : 768px;
$large-tablet : 1024px;
$small-laptop : 1280px;
$laptop : 1366px;
$desktop : 1920px;
$large-desktop : 3840px;

/* Default spacings for elements */
$space: 30px;
$space-half: $space / 2;
$space-double: $space * 2;
$space-triple: $space * 3;
$space-quadruple: $space * 4;